* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-title: #F8F8F8;
  --text-body: #ffffff;
  --text-description: #D7D7D7;
  --text-info: #BBBBBB
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
 }

 @media (max-width: 720) {
   html {
     font-size: 87.5%;
   }
 }

body {
  background: #1A1D23;
}

body, input, textarea, select, button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: var(--text-body);
  text-decoration: none;
}